@import "../../styles/variables.css";

.menu .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.menu .item .title {
  font-size: 14px;
  font-weight: 200;
  color: black;
}

.menu .item .listItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 5px;
}
.menu .item .listItem:hover {
  background-color: rgb(161, 157, 157);
  color: white;
}
.menu .item img {
  width: 26px;
  height: 26px;
}
.menu .item .listItemTitle {
  margin-top: 5px;
}
